<div class="left">
  <div class="container">
    <h1>About</h1>
    <p>This is an example app to manage notes</p>
    <div>
      <p>Some things to consider: </p>
      <ul>
        <li>Not using the Angular forms the Angular way because not saving the data to any file or </li>
        <li>The header needs work on the design to start, just created something to show routes.</li>
        <li>I opted for exporting all notes to PDF. I previsouly had a button for each note you added but the design was
          messy</li>
      </ul>
    </div>
  </div>
</div>
