<div class="left">
  <div class="container">
    <h1>About</h1>
    <p>This is an example app to manage notes</p>
    <div>
      <p>Some things to consider: </p>
      <ul>
        <li>Not using the Angular forms the Angular way because not saving the data to any file or </li>
        <li>The header needs work on the design to start, just created something to show routes.</li>
        <li>I opted for exporting all notes to PDF. I previsouly had a button for each note you added but the design was
          messy</li>
        <li>Remove tag on click</li>
        <li>Since on the moment im not using any storage method, im doing a preview and add dummy image without the
          upload working with this link:
          <b>assets/images/cocus.png</b>
        <li>Add Image Works. Export to PDF works. Export image to PDF doesnt. Skipping and picking it again if i have
          time but the method is done and i dont see nothing critical on the code.
        </li>
      </ul>
    </div>
  </div>
</div>
