<div class="left">
  <div class="container">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Fill your notes</h4>
      <hr>
      <!--<form #noteForm="ngForm" class="md-form" novalidate="" (ngSubmit)="addNote(title.value, name.value, tag.value, type.value)">-->
      <form #noteForm="ngForm" class="md-form" novalidate="">
        <div class="form-group">
          <label for="titleName">Title</label>
          <input required type="text" id="titleName" placeholder="insert title" name="titleName" [(ngModel)]="titleName"
            [class.has-error]="fullTitle.invalid" #title #fullTitle="ngModel">
        </div>
        <hr>
        <div class="form-group">
          <label for="noteName">Body</label>
          <input type="text" id="noteName" placeholder="insert note" name="noteName" [(ngModel)]="noteName" #name>
        </div>
        <hr>
        <div class="form-group">
          <label for="tagName">Insert tag</label>
          <input type="text" id="tagName" placeholder="insert tag" name="tagName" [(ngModel)]="tagName" #tag>
        </div>
        <hr>
        <div class="form-group">
          <label for="photo">Insert Image</label>
          <input type="text" id="photo" placeholder="insert photo url" name="photo" [(ngModel)]="photo" #photoLink>
        </div>
        <div class="form-group">
          <button type="button" (click)="togglePicPreview()"
            class="btn btn-light btn-sm">{{previewPic? "Hide " : "Show "}} image</button>
        </div>
        <div class="form-group">
          <img [src]="photo" height="150" width="150" *ngIf="previewPic" />
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 mb-3">
            <button class="btn btn-light btn-sm" type="submit"
              (click)="addNote(title.value, name.value, tag.value, photoLink.value)">Add
              Note</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="submit" (click)="onUpload">Upload</button>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" (change)="onFileSelected($event)">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
