<!--<div>
  <app-header></app-header>
  <app-create></app-create>
  <app-read></app-read>

  <app-footer></app-footer>

  <router-outlet></router-outlet>
</div>
-->



<nav class="navbar navbar-dark bg-dark">



  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="faq">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
