<!--<div>
  <app-header></app-header>
  <app-create></app-create>
  <app-read></app-read>

  <app-footer></app-footer>

  <router-outlet></router-outlet>
</div>
-->



<nav class="navbar navbar-dark bg-dark">



  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="create">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="faq">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>
<!-- Footer -->
<footer class="footer">


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><b>© 2019 Copyright:</b>
    <a href="https://github.com/Knox316">Fernando Correia</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<router-outlet></router-outlet>
